

/*
modo de trabajo 
1. Posicionamientos
2. Modelo de Caja (Box Model)
3. Tipografía
4. Viasuales
5. otros
*/

$bitcoin-orange: #F7931A;
$SoftOrange: #FFE9D5;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}



body{

    background-color: #E5E5E5;

    h1{    
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 26px;
        
        text-align: center;
        color: #FFFFFF;
    }

    p{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        
        text-align: center;

        color: #000000;
    }
}

.padre{
    display: flex;
    height: 316px;
    // align-items: center;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main__bottom-carrusel{
    display: flex;
    
    
    position: relative;
    scroll-snap-align: center;


    flex-direction: column;

    
    width: 70%;
    height: 247px;
    min-width: 230px;
    max-width: 300px;
    border-radius: 8px;

    background-color: #FFFFFF;

    margin-left: 10px;

}git log