@charset "UTF-8";
/*
modo de trabajo 
1. Posicionamientos
2. Modelo de Caja (Box Model)
3. Tipografía
4. Viasuales
5. otros
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #E5E5E5;
}

body h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

body p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 18px;
  text-align: center;
  color: #FFE9D5;
}

.same-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 320px;
  position: relative;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 47px;
}

.header-logo h1 {
  color: #F7931A;
  margin-left: 10px;
}

.header-text {
  width: 288px;
}

.header-text h1 {
  margin-bottom: 24px;
}

.header-text p {
  margin-bottom: 61px;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 229px;
  height: 48px;
  left: calc(50% - 120px);
  top: 290px;
  background: #FAF8F7;
  -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
          box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 18px;
  text-align: center;
  color: #201E1C;
}

.header-button a img {
  margin-left: 16px;
}

.top-monedas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}

.top-monedas img {
  margin-top: 50px;
}

.top-monedas .top-texto {
  width: 288px;
}

.top-monedas .top-texto h1 {
  color: #201E1C;
  margin-top: 40px;
}

.top-monedas .top-texto p {
  color: #757575;
  margin-top: 24px;
}

.tabla-container {
  margin-top: 25px;
  height: 250px;
  margin: 20px auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.top-tabla {
  position: relative;
  scroll-snap-align: center;
}

.top__elemento-m {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top__elemento-m h2 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 23px;
  color: #FF9536;
  margin-top: 25px;
}

#comisiones .top__elemento-m h2 {
  color: #1A9AF7;
}

#comisiones .top-actualizacion-m p {
  background-color: #E7F5FF;
}

.top__tabla-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 101px 101px;
      grid-template-columns: 101px 101px;
  -ms-grid-rows: (39px)[4];
      grid-template-rows: repeat(4, 39px);
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 20px;
}

.top__tabla-main p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #B5B0AC;
}

.top__tabla-main .top__tabla-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__tabla-main .top__tabla-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__tabla-main .up {
  width: 12px;
  height: 12px;
  background-image: url("./assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.top__tabla-main .down {
  width: 12px;
  height: 12px;
  background-image: url("./assets/icons/trending-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.top-actualizacion-m {
  width: 173px;
  border-radius: 8px;
  margin-bottom: 64px;
}

.top-actualizacion-m p {
  background-color: #FFE9D4;
  color: #282623;
  font-size: 1.2rem;
}

.mid {
  background-color: #201E1C;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid p {
  color: #808080;
}

.mid .mid__batata {
  position: absolute;
  left: calc(50% - 40px);
  top: -13px;
}

.mid__title h1 {
  margin-top: 64px;
  width: 288px;
  height: 52px;
}

.mid__title p {
  margin-top: 24px;
  margin-bottom: 32px;
}

.mid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 152px;
  width: 288px;
  border-radius: 4px;
  background-color: #282623;
  margin-bottom: 16px;
}

.mid__container img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 18px;
  margin-bottom: 12px;
}

.mid__container h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.8rem;
  color: #FFFFFF;
  margin-left: 16px;
  margin-bottom: 10px;
}

.mid__container p {
  text-align: unset;
  width: 252px;
  height: 54px;
}

.chica__bitcoins {
  background-image: url("./assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 516px;
  min-width: 320px;
  margin-bottom: 64px;
}

.chica__bitcoins h1 {
  position: absolute;
  margin-top: 64px;
  left: calc(50% - 90px);
}

.bottom__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 52px;
  width: 288px;
  margin: 50px auto;
}

.bottom__texto h1 {
  color: #201E1C;
  margin-bottom: 24px;
}

.bottom__texto p {
  color: #757575;
}

.carrusel {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.carrusel__recomendado {
  position: absolute;
  top: -16px;
  padding: 8px;
  background-color: #F7931A;
  border-radius: 8px;
}

.carrusel__recomendado p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.slice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: center;
  position: relative;
  background-color: #FFFFFF;
  height: 247px;
  width: 190px;
  border-radius: 8px;
  margin-right: 16px;
  margin-left: 16px;
}

.slice h2 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 30px;
}

.slice-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.slice-price span {
  margin-top: 10px;
  margin-right: 5px;
}

.slice-price p {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
  text-align: left;
  color: #000000;
}

.ahorras p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #757575;
  width: 158px;
  height: 30px;
  margin-top: 10px;
}

.slice-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 151px;
  border-radius: 4px;
  background-color: #FAF8F7;
  /* Bitcoin Orange */
  border: 2px solid #F7931A;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 19px;
}

.slice-button a {
  text-decoration: none;
  color: #201E1C;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  background-color: #F7931A;
}

.logo-l ul li {
  list-style: none;
  margin-bottom: 8px;
}

.logo-l ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.logo-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-r img {
  height: 24px;
  width: 37px;
}

.logo-r p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */